**/.ipynb_checkpoints/

# Local datasets, trained models, images, and other notebook artifacts
local_assets/

# Ignore anything with "Image" in the name
*Image*
**/*Image*

# macOS
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
.DocumentRevisions-V100
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
